#homeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}
@media screen and (max-width:800px) {
    #homeDiv{
        justify-content: space-evenly;
    }
}